.section{
  color:hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca';
  padding: 47px 50px;
  width: 213px;
  flex-grow:1;
}
.section--vehicle{
  color: hsl(0, 0%, 95%);
  margin:2.5rem 0;
  font-family:'Big Shoulder Display';
  font-size: 2.3rem;
}
.section--copy{
  margin-bottom: 72px;
  font-size: 15px;
  line-height: 2em;
}

.section--button{
  background-color: hsl(0, 0%, 95%);
  padding: .95rem 1.8rem;
  border:none;
  border-radius: 30px;
  position: relative;
  overflow:hidden;
  cursor: pointer;
  z-index: 2;
}
.section--text{
  position: relative;
  z-index: 2;
}
.section--hover{
  z-index:0;
  top:-2em;
  position:absolute;
  height: 0;
  min-width: 0;
}
.section--click{
  position:absolute;
  bottom: -2.5em;
  right:1.1em;
  z-index: 1;
  opacity: .65;
}

@media screen and (max-width: 674px) {
  .section{
    max-width: 300px;
    margin:0 auto;
  }
}